@import "b4-grid/grid";
@import "global/fonts";
@import "global/variables";
@import "global/items";
@import "global/reset";
@import "global/typography";
@import "global/ui";

body{
    font-family: "Proxima Nova", sans-serif;
}

.header{
    background: url('../images/hero-bg.png') no-repeat;

    &__top-line{
        position: absolute;
        height: 7px;
        width: 100%;
        top:0;
        left:0;
        background: url('../images/top-line.png') no-repeat;
    }

    &__menus{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-right: 15px;
        padding-left: 15.8%;
        margin-bottom: 84px;
    }

    &__menu-1{
        display: flex;
        white-space: nowrap;
        // justify-content: space-around;
    }

    &__menu-1-item{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        margin-right: 39px;
    }

    &__menu-2{
        padding-left: 16px;
        padding-right: 12px;
        display: flex;
        justify-content: space-between;
        width: 317px;
        height: 33px;
        background: #f2f2f2;
        box-shadow: -4px -4px 6px 1px #ffffff, 4px 4px 6px rgba(0, 0, 0, 0.2);
        margin-top: -4px;
        border-radius: 18px;

    }

    &__menu-2-item{
        display: flex;
        align-items: center;

        img{
            padding-right: 2px;
        }
    }

    &__menu-2-text{
        white-space: nowrap;
        font-size: 11px;
        font-weight: 300;
        padding-right: 16px;
    }

    &__menu-2-counter{
        vertical-align: middle;
        padding: 1px 6px 5px 6px;
        height: 15px;
        margin-top: 9px;
        box-shadow: inset -1px -1px 3px #ffffff, inset 1px 1px 2px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        margin-left: -15px;
    }

    &__content{
        display: flex;
        justify-content: center;
        padding: 0px 0px 70px 42px;
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
        margin-right: 156px;
        h1{
            font-family: "Proxima Nova - Extrabld", sans-serif;
            font-size: 48px;
            font-weight: 800;
            letter-spacing: normal;
        }
    }

    
    &__logo{
        margin-top: 64px;
        width: 155px;
        margin-bottom: 29px;
    }

    &__descr{
        font-size: 19px;
        font-weight: 300;
        text-align: center;
        line-height: 120%;
        margin-bottom: 44px;
        margin-top: -6px;
    }

    &__btn{
        font-family: "Proxima Nova", sans-serif;
        height: 49px;
        background-color: #d97ab2;
        box-shadow: -4px -4px 6px 1px #ffffff, 4px 4px 6px rgba(0, 0, 0, 0.2);
        padding: 11px 39px 12px 39px ;
        color: #ffffff;
        font-size: 19px;
        border-radius: 25px;   
        line-height: normal;
        letter-spacing: 0.5px;
    }
}

.second-screen{
    display: flex;

    .left-bg{
        padding-top: 162px;
        width: 50%;
        margin-top: -54px;
        background: url("../images/section2-left-bg.png") no-repeat;
    }

    .right-bg{
        padding-top: 150px;
        width: 50%;
        margin-top: -40px;
        background: url("../images/section2-right-bg.png") no-repeat;
    }
    &__item{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__image{
        width: 324px;
        margin-bottom: 40px;
    }

    &__header{
        color: #000000;
        font-family: "Proxima Nova - Extrabld";
        font-size: 30px;
        font-weight: 400;
        // line-height: 66.35px;
        text-align: center;
    }

    &__descr{
        width: 38%;
        font-size: 16px;
        font-weight: 300;
        color: #333333;
        text-align: center;
        line-height: 120%;
        margin-bottom: 28px;
    }

    &__button{
        font-size: 19px;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        background-color: #d97ab2;
        box-shadow: -4px -4px 6px 1px #ffffff, 4px 4px 6px rgba(0, 0, 0, 0.2);
        padding: 14px 28px 13px 28px;
        border-radius: 30px;
        line-height: 100%;
        letter-spacing: 0.76px;
        margin-bottom: 88px;
    }
}

.fill{
    height: 773px;
    background-color: #777;
}

.gold-line{
    position: absolute;
    // margin-left: 96px;
    top:0px;
    left:0px;
    height: 7px;
    width: 100%;
    background:url("../images/gold-line.png") no-repeat;
}

.reviews-bg{
    overflow: hidden;
    position: relative;
    // margin-left: -96px;
    // margin-top: -111px;
    height: 1987px;
    background: url("../images/review-bg.png") no-repeat;
    background-position: -111px -101px;
}
.reviews{
    // padding-bottom: 100px;
    margin-left: 11px;
    margin-top: -13px;
    padding-top: 135px;
    display: flex;
    flex-direction: column;

    &__header{
        color: #000000;
        font-family: "Proxima Nova - Extrabld", sans-serif;
        font-size: 48px;
        margin: 0 auto;
    }

    &__header-descr{
        padding-right: 13px;
        font-size: 19px;
        font-weight: 300;
        text-align: center;
        line-height: 40%;
        margin-bottom: 90px;
    }

    .review{
        display: flex;
        // align-items: center;
        
        margin-left: 120px;
        margin-top: -16px;
        &__info{
            width: 24%;
            margin-left: 45px;
            padding-top: 112px;
        }
        
        &__header{
            color: #000000;
            font-family: "Proxima Nova - Extrabld";
            font-size: 24px;
            font-weight: 400;
        }

        &__descr{
            line-height: 21px;
            margin-top: 21px;
            margin-left: 3px;
            color: #333333;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 38px;
        }

        .stars{
            margin-left: 3px;
            width: 20px;
            display: flex;

            img{
                margin-right: 10px;
            }
        }
    }

    .right{
        margin-top: 27px;
        justify-content: flex-end;
        margin-right: 134px;
        margin-left: -78px;
    }

    .align-top{
        margin-top: 25px;
    }
}

.subscribe{
    background:url(../images/subscribe-bg.png);
    height: 300px;

    &__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 742px;
        margin: 0 auto 40px auto;

        h2{
            margin-top:49px ;
            color: #000000;
            font-family: "Proxima Nova - Extrabld", sans-serif;
            font-size: 48px;
            padding-left: 26px;
        }

        h3{
            margin-top: -4px;
            padding-left: 109px;
            color: #333333;
            font-size: 19px;
            font-weight: 300;
            margin-bottom: 30px;
        }


        input{
            margin-top: -4px;
            box-shadow: inset -1px -1px 3px #ffffff, inset 1px 1px 2px rgba(0, 0, 0, 0.2);
            width: 564px;
            height: 51px;
            border-radius: 20px;
            font-size: 21px;
            color: #989898;
            padding-left: 27px;
            
        }

        button{
            width: 155px;
            height: 49px;
            box-shadow: -4px -4px 6px 1px #ffffff, 4px 4px 6px rgba(0, 0, 0, 0.2);
            background-color: #d97ab2;
            color: #ffffff;
            font-size: 19px;
            font-weight: 400;
            border-radius: 30px;
            margin-left: 19px;
            margin-top: -2px;
            margin-bottom: 10px;
        }

        h5{
            color: #808080;
            font-size: 9px;
            font-weight: 400;
            text-align: center;
            padding-left: 53px;
            padding-right: 78px;
        }
    }
}


.general-info{
    margin-top: -2px;
    background-color: #000;

    .container{
        padding-top: 53px;
        min-width: 1324px;
        padding-right:20px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;

    }

    &__main{
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        border-bottom: 2px solid #272727;
    }

    &__logo{
        margin-right: 67px;
        width: 360px;
        padding-top: 3px;
        display: flex;
        flex-direction: column;
        // margin-left: -36px;

        img{
            width: 193px;
            height: 38px;
            margin-bottom: 39px;
        };

        &-text{
            color: #cbcbcb;
            line-height: normal;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 27px;
            letter-spacing: 0.7px;
        }

        &-email{
            color: #d97ab2;
            font-size: 14px;
            text-decoration: underline;
            padding-left: 5px;
            letter-spacing: 0.7px;
        }
    }

    &__item{
        // padding-left: 0px;

        &-header{
            white-space: nowrap;
            color: #d97ab2;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 22px;
        }

        &-text{
            color: #cbcbcb;
            font-size: 11px;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 19px;
            white-space: nowrap;
        }
    }


    &__social{
        margin-top: 23px;
        margin-left: 3px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.35px;
        display: flex;
        padding-bottom: 41px;
        img{
            margin-top: 4px;
            margin-left: 23px;
            height: 20px;
            width: 9px;
            
        }
    }
    
}

.bottom{
    background-color: #333333;
    height: 60px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.12px;
    padding-top: 26px;
}

